
header img {
  height: 80px;
}

body {
  height:600px;
  background-image: url("./../images/hero.svg");
  background-repeat: no-repeat;
  font-family: sans-serif;
}

header {
  background-color: rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
}

header * {
  display: inline;
  color: white;
}
